[user]
	email = eugenio.penalver@clarity.ai
	name = Eugenio Peñalver
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
